body{
    background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?q=80&w=2693&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: auto;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-container{
    border: none;
    outline: none;
    background-color: #fff; 
}
.title-p{
    color: #fff;
}
.corazon:active{
    font-size: 50px;
}
